<link href="~/css/site.css" rel="stylesheet" />
<style>
    #newbtn {
        color: aqua;
        font-size: 30px;
    }
</style>
<h1>My FIrst Heading</h1>
<h2>2nd heading</h2>
<h3>3rd heading</h3>
<h4>4th heading</h4>
<h5>5th heading</h5>
<h6>6th heading</h6>
<p>this paragraph</p>
<input type="text" id="firstname" class="input-field" placeholder="enter first name" />
<textarea>This is random text are</textarea>
<button value="submit" type="button">Submit</button>
<a href="#" id="newbtn" style="font-size:20px;color:black;background-color:#f12929;padding:10px;margin:30px;"> Anchor tag</a>
